/* Main css file */

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img#render-image {
    height: 100%;
    width: auto;
}

.settings-outer {
    position: absolute;
    width: 500px;
    height: 100%;
    padding: 10px;
}

form > .uk-margin {
    margin-bottom: 10px !important;
    margin-top: 10px !important;
}
